<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
               

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="IndexCustomerSuper">Заказчики</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="IndexObjektSuper">Объекты</a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="IndexIncidentSuper">Заявки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Выход</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

@using ServiceManagerFire.Models;

@model List<Objekt>


<h2>Объекты</h2>


<table class="table">
    <tr> <th>Название</th><th>Адрес</th><th>Заказчик</th></tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name.ToString() </td>
                <td>@item.Address.ToString() </td>
                <td>@item.Customer.Name.ToString() </td>
                <td>
                    <a asp-action="RemoveObjektSuper" asp-route-id="@item.Id"> Удалить</a>
                    <br />
                    <a asp-action="EditObjektSuper" asp-route-id="@item.Id"> Изменить</a>>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="CreateObjektSuper" class="btn btn-default"> Добавить  </a>
